# ROS 2 / colcon artifacts
build/
install/
log/

# VSCode / IDE
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

# CMake cache
CMakeFiles/
CMakeCache.txt

# PlatformIO
**/.pio/
**/.vscode/

# Misc
*.swp
*.swo

